<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Leh Creative Crew</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Socials
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://www.youtube.com/channel/UC8w8EaXV7zmwosr52MZBBXA" target="_blank">YouTube</a>
            <a class="dropdown-item" href="https://www.facebook.com/leh.crew" target="_blank">Facebook</a>
            <a class="dropdown-item" href="https://twitter.com/crew_leh?s=09" target="_blank">Twitter</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>